* {
	box-sizing: border-box;
}
body {
	background-color: black;
	color: #202325;
}

/* HEADER */

header {
	background-image: url("mountain_landscape.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px 0;
}
#intro-content {
	width: 90%;
	margin: auto;
	padding: 20px 30px 20px 30px;
	background-color: #ffffffcc;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}
#intro-block {
	max-width: 500px;
	padding-left: 30px;
}
#profile-img {
	width: 150px;
	height: 150px;
	border-radius: 5px;
}
#intro-block h1 {
	color: #597398;
	font-size: 3em;
	font-family: 'Patua One';
}
#intro-block p {
	color: #2d272b;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}
@media (max-width: 600px) {
	#intro-content	{
		flex-wrap: wrap;
	}
	#intro-block {
		flex-grow: 8;
		text-align: center;
		padding-left: 0;
	}
}
@media (min-width: 900px) {
	#intro-content	{
		width: 70%;
		justify-content: center;
	}
}
@media (min-width: 1100px) {
	#intro-content	{
		width: 60%;
	}
}
@media (min-width: 1300px) {
	#intro-content	{
		width: 50%;
	}
}

/* ACCORDION PANEL */

.panel-body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	border-top-width: 0px;
	padding-left: 40px;
}

.panel-title {
	font-family: 'Patua One';
	color: #ffffff;
	font-size: 1.6em;
}

h2 {
	font-family: 'Patua One';
	color: #597398;
	font-size: 1.6em;
	padding-bottom: 0.5em;
}

.panel-default {
	border: 0px solid #00000073;
	border-collapse: collapse;
}

.panel-default>.panel-heading {
    color: #333;
    border: 0px solid #00000073;
}
.panel-collapse {
	background-color: #c3ddf726;
	border-top-width: 0px;
}

#heading-one {
	background-color: #FFBF4C;
}
#heading-two {
	background-color: #78D7D0;
}
#heading-three {
	background-color: #FF8F8F;
}

.glyphicon {
	color: black;
}

#few-words {
	display: flex;
	flex-wrap: wrap;
}


#skill-list {
	list-style-position: inside;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 1.1em;
	list-style: none;
}

#skill-list li:before {
	color: #FF8F8F;
	content: "\2022";
	/* font-weight: bold; */
	display: inline-block;
	width: 1em;
	margin-left: 1em;
}


.writing-samples {
	width: 90%;
}


.writing-samples .col-sm-4, .col-xs-6, .col-md-3, .col-sm-6 {
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 5px;
    overflow: auto;
    height: 8em;
}

.writing-samples p {
	position: relative;
    top: 10%;
    font-size: unset;
    text-align: center;
}
.writing-samples p:hover {
  padding: 4px;
  border: 1px solid #fdbf4c;
  background-color: white;
}

.writing-samples a {
	color: #202325;
	text-decoration: none;
}
img {
	color: black;
}

.social {
	color: #f6fafe;
	font-size: 200%
}
.social:hover {
	color: #E6E6E6;
}

a {
	color: #496b88;
	text-decoration: underline;
}

p {
	font-size: 1.1em;
}
.fa-paragraph {
	color: #78D7D0;
}
