/* GLOBAL */

* {
	box-sizing: border-box;
}
body {
	background-color: #272727;
	height: 100vh;
}
a:link {
	color: #ffffff;
	text-decoration: underline;
}
a:visited {
	color: #d4d4d4;
}
a:hover {
  color: #272727aa;
}
p {
	font-size: 1.1em;
	color: #ffffff;
}

/* HEADER */

header {
	width: 90%;
	margin: 20px auto 0 auto;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 5px solid #FF8F8F8d;
	border-radius: 4px;
}
#intro-block {
	padding: 0 20px 15px 30px;

}
#intro-block h1 {
	color: #99c6ed;
	font-size: 3em;
	font-family: 'Patua One';
}
#intro-block p {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

@media (max-width: 730px) {
	header {
		width: 90%;
		flex-direction: column;
		padding: 40px 30px 10px 30px;
	}
	#intro-block {
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		order: 4;
	}
	#plate {
		order: 3;
		margin: 0;
	}
}
@media (min-width: 731px) {
	header {
		width: 90%;
		flex-direction: row;
		justify-content: space-evenly;
	}
	#intro-block {
		order: 4;
		width: 70%;
	}
	#plate {
		order: 3;
		margin: 20px 0 20px 0;
	}
}
@media (min-width: 900px) {
	header {
		width: 70%;
	}
}
@media (min-width: 1100px) {
	header {
		width: 60%;
	}
}


/* MAIN TEXT & ACCORDION PANEL */

main {
	width: 90%;
	margin: auto;
	padding-top: 20px;
}
@media (min-width: 900px) {
	main	{
		width: 70%;
	}
}
@media (min-width: 1100px) {
	main	{
		width: 60%;
	}
}
.panel-body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	border-top-width: 0px;
	padding-left: 40px;
	font-size: 1em;
}
.panel-group .panel-default {
	border-collapse: collapse;
	border: 5px solid #0000008d; /* alternatively: #666 */
	box-shadow: none;
	margin-bottom: 10px;
}
.panel-default>.panel-heading {
    color: #333;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 0 15px;
}
.panel-collapse {
	background-color: #272727;
	border-top-width: 0px;
	box-shadow: none;
	color: #ffffff;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
	box-shadow: none;
}
.panel-title {
	font-family: 'Patua One';
	color: #fff;
	font-size: 1.3em;
	font-weight: 100;
	background-color: inherit;
	border: none;
	text-align: left;
}

#panel-one, #heading-one {
	background-color: #78D7D0;
}
#panel-two, #heading-two {
	background-color: #FFBF4C;
}
#panel-three, #heading-three {
	background-color: #FF8F8F;
}
#panel-four, #heading-four {
	background-color: #99c6ed;
}
.panel-heading > h2 {
	font-size: 1.4em;
	margin-top: 11px;
	margin-bottom: 14px;
}
h3 {
	font-family: 'Patua One';
	color: #78D7D0;
	font-size: 1.6em;
}
.glyphicon {
	color: #0000008d;
	top: 3px;
}
@media (max-width: 800px) {
	.panel-body {
		padding: 15px;
	}
}


/* A FEW WORDS ABOUT ME */

.about-img {
	align-self: center;
}
#profile-img {
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 5px;
	border: 5px solid #FF8F8F;
}
#few-words {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
.about-paragraphs {
	display: flex;
	justify-content: space-around;
	margin-left: 20px;
}
.bio-text {
	display: flex;
	flex-wrap: wrap;
	max-width: 40%;
	align-content: flex-start;
}
@media (max-width: 800px) {
	#few-words {
		align-content: space-between;
		flex-direction: column;
	}
	.bio-text {
		min-width: 95%;
		flex-wrap: nowrap;
		align-content: space-between;
	}
	.about-paragraphs {
		display: flex;
		flex-direction: column;
		align-content: space-around;
		margin-left: 0;
	}
	.about-img {
		margin: 15px auto 20px auto;
		min-width: 20%;
	}
}
.fa-paragraph {
	color: #FFBF4C;
	margin-right: 20px;
}


/* MY SKILLS */

#skill-list {
	list-style-position: inside;
	margin: 20px auto 10px 0;
	padding-left: 0px;
	list-style: none;
	font-size: 1.1em;
	line-height: 1.8em;
}

#skill-list li:before {
	color: #FF8F8F;
	content: "\2022";
	/* font-weight: bold; */
	display: inline-block;
	width: 1em;
	margin-left: 1em;
}
.skill-category {
	border: 2px solid #78D7D0;
	/* background-color: #FF8F8F; */
	padding: 0 4px;
	margin-right: 2px;
	border-radius: 4px;
}


/* EXPERIENCE */
#resume {
	margin-right: 20px;
}
#resume > section {
	padding-bottom: 20px;
	margin-bottom: 10px;
}
#resume h3 {
	color: #99c6ed;
}

#resume-work {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid white;
}
.job {
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px dashed white;
	display: grid;
	column-gap: 10px;
	grid-template-rows: 1;
	grid-template-columns: 1fr 6fr;
	grid-template-areas:
		"date title"
		"date company"
		"date description";
}
.job:nth-last-child(1) {
	border-bottom: none;
}

.job-date {
	grid-area: date;
}
.job-title {
	margin-top: 0px;
	grid-area: title;
	color: #FFBF4C;
	font-size: 1.5em;
}
.job-company {
	grid-area: company;
	font-size: 120%;
}
.job-description {
	grid-area: description;
}
ul.job-description {
	padding-inline-start: 0px;
	font-size: 1.1em;
	list-style: none;
}
ul.job-description li {
	list-style-position: inside;
	padding-left: 15px;
}
ul.job-description li:before {
	content: "— ";
}
#resume-education {
	border-bottom: 1px solid white;
}
.ed-section {
	border-bottom: 1px dashed white;
	padding-top: 20px;
}
.course {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.course:nth-last-child(1) {
	border-bottom: none;
}

#lang-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
}
.lang-level {
	/* background-color: #FFBF4C; */
	border: 2px solid #FFBF4C;
	font-size: 85%;
	padding: 1px 4px 1px 4px;
	border-radius: 4px;
	margin-left: 5px;
	/* color: #272727; */
}
@media (max-width: 800px) {
	#resume {
		margin-right: 0px;
	}
	#resume-summary {
		flex-wrap: wrap;
	}
	#resume-summary h2 {
		padding-bottom: 10px;
	}

	.job {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
			"title title title"
			"company company date"
			"description description description";
	}
	.job-date {
		justify-self: self-end;
	}
	.course-date {
		margin-right: 20px;
		width: 30%;
	}
	.course-description {
		width: 70%;
	}
}



/* WRITING SAMPLES */

#writing-samples {
	display: flex;
	flex-direction: column;
}
h3.writing-samples-h3 {
	padding-left: 0.5em;
}
.writing-samples {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	justify-items: center;
}
.sample {
	line-height: 1.6em;
}
.sample-year {
	display: inline-block;
	border: 2px solid #FFBF4C;
	border-radius: 4px;
	padding: 0 11px;
	margin-bottom: 2px;
}
.sample::first-letter {
	padding-left: -10px;
}
.writing-samples a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 8px 8px 8px;
	
	border-radius: 4px;
	border: 5px solid transparent;
}
.writing-samples p {
	padding: 5px;
	color: #ffffff;
}
.writing-samples a:hover {
	background-color: #ffffff;
	color: #202325;
	filter: opacity(0.9);
	border-color: #78d7d0;
}

@media (max-width: 750px) {
	.writing-samples {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 400px) {
	.writing-samples {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}
	.writing-samples p {
		text-align: center;
	}
	h2.writing-samples-h2 {
		text-align: center;
		padding-left: 0em;
		padding-bottom: 15px;
	}
	.sample-year {
		padding: 0 5px;
	}
}
@media (min-width: 1400px) {
	.writing-samples {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


/* FOOTER */

footer {
	margin-bottom: 10px;
}
.list-inline {
	margin-left: 0;
}
.social {
	color: #fff;
	font-size: 200%;
	margin: auto 1px auto 1px;
}
.social:hover {
	color: #b5b4b4;
}
small {
	color: #FFBF4C94;
	font-size: 1em;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}
